<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Meu blog com base em Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 24.06.2022</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Hoje é dia de São JOão, e eu simplesmente estou aqui tentando subir meu primeiro DJango.</p>
        </div>

        <div>
            <p>publicado: 25.06.2022, 21:01</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Acho que obtive sucesso na minha primeira tentativa. Não realizei meu deploy no PythonEveryWhere, pois ele não suporta o Django 4! Logo vou precisar resolver isso utilizando o Heroku.</p>
        </div>
    </body>
</html>